<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE LIBROS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-libro">NUEVO</button>
                    <table *ngIf= "listLibros.length > 0" class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Titulo</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Lugar</th>
                            <th scope="col">Editorial</th>
                            <th scope="col">#Paginas</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let libro of listLibros">
                            <td>{{libro.tituloLibro}}</td>
                            <td>{{libro.autor}}</td>
                            <td>{{libro.fechaPublicacion}}</td>
                            <td>{{libro.lugarPublicacion}}</td>
                            <td>{{libro.editorial}}</td>
                            <td>{{libro.numPaginas}}</td>
          
                            <td>
                                <i [routerLink]="['/editar-libro', libro._id]" class="fa-solid fa-pen-to-square text-primary"></i>
                                                               
                            </td>
                            <td><i (click)="eliminarLibro(libro._id)" class="fa-solid fa-trash text-danger"></i></td>
                          </tr>
                        </tbody>
                      </table>
                      <h5 style="text-align: start; margin-top: 10px;" *ngIf= "listLibros.length == 0">No hay libros para mostrar</h5>
                </div>
            </div>
        </div>
    </div>

</div>